<!-- START COROUSEL -->
<section class="music1">
	<div class='music'>
  <span class='line line1'></span>
  <span class='line line2'></span>
  <span class='line line3'></span>
  <span class='line line4'></span>
  <span class='line line5'></span>
</div>
</section>
<!-- END COROUSEL -->
<br>




<section class="container">
	<div class="row mt-2">
		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/C4 Pedro - Maria (feat Landrick).jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">ZOUK</h4>
			
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/preto.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">AFRO-HAUSE</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/Prodígio.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">HIPO-HOP</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/Gerilson Insrael.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">KIZOMBA</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/nagrelha.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">KUDURO</h4>
		</div>
		<div class="col-md-2 col-sm-6">
			<div class="mb-3">
				<img src="/images/C4 Pedro - Maria (feat Landrick).jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">SEMBA</h4>
		</div>
	</div>
</section>
<br><br>

<div class="h2a w-100">
    <div class="container-1">
	<div class="content" style="display:block; width:1000px; height:562px">
		<div class="container-full">
			<div class="animated hue"></div>
            <img class="backgroundImage" src="https://drive.google.com/thumbnail?id=1_ZMV_LcmUXLsRokuz6WXGyN9zVCGfAHp&sz=w1920"> 
            <img class="boyImage" src="https://drive.google.com/thumbnail?id=1eGqJskQQgBJ67myGekmo4YfIVI3lfDTm&sz=w1920">
			<div class="container-1">
				<div class="cube">
					<div class="face top"></div>
					<div class="face bottom"></div>
					<div class="face left text"></div>
					<div class="face right text"></div>
					<div class="face front"></div>
					<div class="face back text"></div>
				</div>
			</div>
			<div class="container-reflect">
				<div class="cube">
					<div class="face top"></div>
					<div class="face bottom"></div>
					<div class="face left text"></div>
					<div class="face right text"></div>
					<div class="face front"></div>
					<div class="face back text"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

