<section class="music1">
	<div class='music'>
		<span class='line line1'></span>
		<span class='line line2'></span>
		<span class='line line3'></span>
		<span class='line line4'></span>
		<span class='line line5'></span>
	</div>
</section>
<br>

<section class="container">
	<div class="row mt-2">
		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/C4 Pedro - Maria (feat Landrick).jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">ZOUK</h4>

		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/preto.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">AFRO-HAUSE</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/Prodígio.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">HIPO-HOP</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/Gerilson Insrael.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">KIZOMBA</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/nagrelha.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">KUDURO</h4>
		</div>
		<div class="col-md-2 col-sm-6">
			<div class="mb-3">
				<img src="/images/C4 Pedro - Maria (feat Landrick).jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">SEMBA</h4>
		</div>
	</div>
</section>
<br><br>

{{!-- precario --}}
<div class="bodyPreco">
	<h1 class="text-center">Preçario</h1>
	<div class="containerPreco">
		<a class="cardPreco" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
  <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
</svg>
			<h2>Artista Revelação</h2>
			<small class="text-center">
				<h2>kz39,99/ano </h2>
				Libere músicas ilimitadas e 
				recursos avançados para 
				personalizar seus lançamentos.
			</small>
		</a>
		<a class="cardPreco" href="#">

			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
  <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
</svg>
			<h2>Artista em ascensão</h2>
			<small class="text-center">
				<h2>kz22,99/ano</h2>
				O plano de distribuição essencial. 
				Libere músicas ilimitadas para 150+ 
				Lojas Digitais em todo o mundo.
			</small>
		</a>
		<a class="cardPreco" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
  <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
</svg>
			<h2>Novo Artista</h2>
			<small>
				<h class="text-center">Livre</h>
				Até 3 faixas, APENAS no Tik Tok, Instagram & YouTube
				Acreditamos no crescimento dos musicos Angolanos e estrangeiros
			</small>
		</a>
		<a class="cardPreco" href="#">
			<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2"/>
  <path fill-rule="evenodd" d="M12 3v10h-1V3z"/>
  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1z"/>
  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5m0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5"/>
</svg>
			<h2>PROFISSIONAL</h2>
			<small class="text-center">
				<h2>kz22,99/ano</h2>
				O plano de distribuição essencial. 
				Libere músicas ilimitadas para 150+ 
				Lojas Digitais em todo o mundo.
			</small>
		</a>
	</div>
</div>

<!-- START  PARCEIROS -->
<div class="container-md animateLado">
	<section id="contactos" class="contact section mt-5">

		<div>
			<div>
				<h2 class='display-5 fw-bold pb-2  text-center'>
					Distribuição Sem Limites – A partir de 50 000kz/anos</h2>
			</div>
			<div>
				<p class="pb-2 text-center">
					Leve sua música ou conteúdo para as plataformas e lojas digitais mais renomadas,
					como Spotify, Apple Music, TikTok, YouTube, Amazon Music, e muito mais.
					Nossa plataforma oferece distribuição ilimitada, permitindo que sua
					música chegue a um público global sem restrições.
					Com total controle criativo e 100% de propriedade sobre o seu trabalho,
					você mantém a autoridade sobre a sua carreira, sem abrir mão dos direitos autorais.
				</p>
			</div>
		</div>
		<div class="row gy-4 mt-5">
			<div class="col-lg-2 text-center">
				<div>
					<img src="/images/spotify.svg" alt="" style="width:80%" />

				</div>
			</div>

			<div class="col-lg-2 text-center">
				<div>
					<img src="/images/amazon-Music.svg" alt="" style="width:80%" />
				</div>
			</div>

			<div class="col-lg-2 text-center">
				<div>
					<img src="/images/apple-music.svg" alt="" style="width:80%" />
				</div>
			</div>

			<div class="col-lg-2 text-center">
				<div class="bg-dark">
					<img src="/images/YouTube-logo.svg" alt="" style="width:80%" />
				</div>
			</div>

			<div class="col-lg-2 text-center">
				<div>
					<img src="/images/apple-music.svg" alt="" style="width:80%" />
				</div>
			</div>

			<div class="col-lg-2 text-center">
				<div>
					<img src="/images/spotify.svg" alt="" style="width:80%" />

				</div>
			</div>







		</div>


	</section>
</div>
{{!-- <div class="h2a w-100">
	<div class="container-1">
		<div class="content" style="display:block; width:1000px; height:562px">
			<div class="container-full">
				<div class="animated hue"></div>
				<img class="backgroundImage"
					src="https://drive.google.com/thumbnail?id=1_ZMV_LcmUXLsRokuz6WXGyN9zVCGfAHp&sz=w1920">
				<img class="boyImage"
					src="https://drive.google.com/thumbnail?id=1eGqJskQQgBJ67myGekmo4YfIVI3lfDTm&sz=w1920">
				<div class="container-1">
					<div class="cube">
						<div class="face top"></div>
						<div class="face bottom"></div>
						<div class="face left text"></div>
						<div class="face right text"></div>
						<div class="face front"></div>
						<div class="face back text"></div>
					</div>
				</div>
				<div class="container-reflect">
					<div class="cube">
						<div class="face top"></div>
						<div class="face bottom"></div>
						<div class="face left text"></div>
						<div class="face right text"></div>
						<div class="face front"></div>
						<div class="face back text"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> --}}

<br><br>