<!-- START COROUSEL -->
<div class="">
	<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-inner height-50vh">
			<div class="carousel-item active img22" data-bs-interval="10000">
				<img src="/images/Captura de Tela (57).PNG" class="d-block w-100 h-100 img-fluid" alt="..." />
			</div>
			<div class="carousel-item img22" data-bs-interval="2000">
				<img src="/images/Captura de Tela (57).PNG" class="d-block w-100 h-100 img-fluid" alt="..." />
			</div>
			<div class="carousel-item img22">
				<img src="/images/Captura de Tela (57).PNG" class="d-block w-100 h-100 img-fluid" alt="..." />
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>

</div>
<!-- END COROUSEL -->
<br><br>
<section class="container">
	<div class="row mt-2">
		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/C4 Pedro - Maria (feat Landrick).jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">ZOUK</h4>
			
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/preto.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">AFRO-HAUSE</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/Prodígio.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">HIPO-HOP</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/Gerilson Insrael.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">KIZOMBA</h4>
		</div>

		<div class="col-md-2 col-sm-6 mb-3 mb-md-0">
			<div class="mb-3">
				<img src="/images/nagrelha.jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">KUDURO</h4>
		</div>
		<div class="col-md-2 col-sm-6">
			<div class="mb-3">
				<img src="/images/C4 Pedro - Maria (feat Landrick).jpeg" alt="image" class="img-fluid rounded-circle">
			</div>
			<h4 class="text-center">SEMBA</h4>
		</div>
	</div>
</section>
<br><br>

<div class="h2a w-100">
    <div class="container-1">
	<div class="content" style="display:block; width:1000px; height:562px">
		<div class="container-full">
			<div class="animated hue"></div>
            <img class="backgroundImage" src="https://drive.google.com/thumbnail?id=1_ZMV_LcmUXLsRokuz6WXGyN9zVCGfAHp&sz=w1920"> 
            <img class="boyImage" src="https://drive.google.com/thumbnail?id=1eGqJskQQgBJ67myGekmo4YfIVI3lfDTm&sz=w1920">
			<div class="container-1">
				<div class="cube">
					<div class="face top"></div>
					<div class="face bottom"></div>
					<div class="face left text"></div>
					<div class="face right text"></div>
					<div class="face front"></div>
					<div class="face back text"></div>
				</div>
			</div>
			<div class="container-reflect">
				<div class="cube">
					<div class="face top"></div>
					<div class="face bottom"></div>
					<div class="face left text"></div>
					<div class="face right text"></div>
					<div class="face front"></div>
					<div class="face back text"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

