:root {
    --primary: #174b7b;
    --secondary: #009970;
    --light: #EEF9FF;
    --dark: #091E3E;
    --default-color: #212529; 
    --heading-color: #32353a;
  
  }
  .navbarHome {
    background-color: transparent;
    transition: background-color 0.3s ease; /* Suavizar a transição */
  }
  .img-nav img{
    display: none;
  }
 
  
  .verd {
    color: #009970;
  }
  
  .servicosClientes {
    background-color: var(--primary);
  }
  
  a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
  
  }
  
  .navbarHome {
    margin-bottom: 20px;
  }
  
  .nav-item {
    padding: 1px 1px;
    margin-left: 4px;
  }
  
  .login-buttom {
    display: none;
  }
  
  .login-buttom:hover {
    background-color: #00b383;
  }
  
  .navbar-toggler {
    border: none;
    font-size: 1.25rem;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
    box-shadow: none;
    outline: none;
  }
  
  .nav-link {
    font-weight: 500;
    position: relative;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: var(--secondary);
  }
  
  /* .navbar-brand{
     background-color: #009977; 
  } */
  .navborder.no-border {
    border-radius: none;
    background-color: transparent;
  
  }
  
  @media(min-width:991px) {
    .login-buttom {
      display: block;
      background-color: var(--secondary);
      color: #fff;
      font-size: 14px;
      padding: 8px 15px;
      border-radius: 50px;
      text-decoration: none;
      transition: 0.3s background-color;
    }
  
    .linkBorder::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #009970;
      visibility: hidden;
      transition: 0.3s ease-in-out;
    }
  
    .nav-link:hover::before,
    .nav-link.active::before {
      width: 100%;
      visibility: visible;
    }
  
    .img-nav img{
      display: block;
      width: 5em;
    }
    /* BOTÃO FIXO WHATSAP */
  .fixed-button {
    display: block;
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    background-color: var(--secondary); 
    color: #fff; 
    border: none; 
    border-radius: 50px; 
    padding: 8Px 18px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    z-index: 1000; 
  }
  
  .fixed-button:hover {
    background-color: var(--primary); 
    transform: scale(1.1); 
  }
  
    
  }
 


/* Music Equalize */

.music1 {
  height: 60vh;
  margin: 0;
  background-color: #1a1e21;
  font-family: "ubuntu", Arial, sans-serif;
  overflow-x: hidden;
  display: grid;
  place-items: center;
}

.music {
  position: relative;
  width: 180px;
  height: 160px;
  border: 8px solid #bebebe;
  border-bottom: 0px;
  border-top-left-radius: 110px;
  border-top-right-radius: 110px;
}
.music:before, .music:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 40px;
  height: 82px;
  background-color: #bebebe;
  border-radius: 15px;
}
.music:before {
  right: -25px;
}
.music:after {
  left: -25px;
}

.line {
  position: absolute;
  width: 6px;
  min-height: 30px;
  transition: 0.5s;
  animation: equalize 4s 0s infinite;
  animation-timing-function: linear;
  vertical-align: middle;
  bottom: 0 !important;
  box-shadow: inset 0px 0px 16px -2px rgba(0, 0, 0, 0.15);
}

.line1 {
  left: 30%;
  bottom: 0px;
  animation-delay: -1.9s;
  background-color: #ff5e50;
}

.line2 {
  left: 40%;
  height: 60px;
  bottom: -15px;
  animation-delay: -2.9s;
  background-color: #a64de6;
}

.line3 {
  left: 50%;
  height: 30px;
  bottom: -1.5px;
  animation-delay: -3.9s;
  background-color: #5968dc;
}

.line4 {
  left: 60%;
  height: 65px;
  bottom: -16px;
  animation-delay: -4.9s;
  background-color: #27c8f8;
}

.line5 {
  left: 70%;
  height: 60px;
  bottom: -12px;
  animation-delay: -5.9s;
  background-color: #cc60b5;
}

@keyframes equalize {
  0% {
    height: 48px;
  }
  4% {
    height: 42px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 48px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 48px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 48px;
  }
  68% {
    height: 30px;
  }
  72% {
    height: 48px;
  }
  76% {
    height: 20px;
  }
  80% {
    height: 48px;
  }
  84% {
    height: 38px;
  }
  88% {
    height: 48px;
  }
  92% {
    height: 20px;
  }
  96% {
    height: 48px;
  }
  100% {
    height: 48px;
  }
}




/* PRECARIOS  */

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

.cardPreco {
  animation: 2s gradient-angle infinite linear;
  border: 2px solid transparent;
  background-image: linear-gradient(#584827, #2d230f),
    conic-gradient(
      from var(--gradient-angle),
      #584827 0%,
      #c7a03c 37%,
      #f9de90 30%,
      #c7a03c 33%,
      #584827 40%,
      #584827 50%,
      #c7a03c 77%,
      #f9de90 80%,
      #c7a03c 83%,
      #584827 90%
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

@keyframes gradient-angle {
  to {
    --gradient-angle: 1turn;
  }
}


.bodyPreco {
  background: #141819;
} 

.bodyPreco {
  font-family: "游ゴシック Medium", YuGothic, YuGothicM,
    "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  display: grid;
  align-content: center;
  min-height: 100svh;
  padding: 34px;
  color: #d5cec0;
  gap: 24px;

  @media (width < 970px) {
    align-content: start;
  }
}

.containerPreco {
  display: grid;
  justify-content: center;
  margin-inline: auto;
  grid-auto-flow: column;
  gap: 16px 40px;
  @media (width < 970px) {
    grid-auto-flow: row;
  }
}

.cardPreco {
  display: grid;
  max-width: 240px;
  padding: 20px;
  text-decoration: none;
  color: currentColor;
  border-radius: 20px;
  place-content: center;
  place-items: center;
  aspect-ratio: 1/1;
  row-gap: 16px;
}

.cardPreco h2 {
  font-family: "Comfortaa", sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
}

.cardPreco p {
  font-size: 12px

}
